@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p> We don't have any Customers yet.</p>
}
else {
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@Html.ActionLink(@c.Name, "Details", "Customers", new {c.Id}, null)</td>
                <td>@c.MembershipType.Name</td>
            </tr>
        }
    </table>
}