<appSettings>
  <add key="FacebookAppId" value="354487754886555" />
  <add key="FacebookAppSecret" value="f06a23cc1218b3273caded00bca24393" />
  <add key="MailServer" value="dev.smtp.vidly.com" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>